@import url('https://fonts.googleapis.com/css?family=Boogaloo|Righteous');

$righteous: 'Righteous', cursive;
$boogaloo: 'Boogaloo', cursive;


$coolBlack: #01295f;
$queenBlue: #437f97;
$oliveDrab: #849324;
$darkTangerine: #ffb30f;
$vividRed: #fd151b;
$white: #fff;
